body {
    padding-top: 5rem;
    padding: 0px 400px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 20px;
    padding-top: 25px;
    

}

img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.headclass{
    background-color: rgb(21, 231, 231);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.para{
    padding-top: 10px;
    text-align: center;
   
}

.box3{
    padding: 10px 30px;
}

.folltable{
    padding: 20px 70px;
}

th {
    text-align: center;
}

td{
    text-align: center;
}

.btn{
    text-align: center;
    padding-top: 20px;
}

button{
    color: ghostwhite;
    background-color: rgb(21, 231, 231);
    border-radius: 10%;
    height: auto;
    width: 100px;
    font-size: large;
    
}