{% extends 'base.html' %}
{% block main %}
    <div class = "container">
        <div class = "box1">
            <header class = "headclass">
              <img src="{{ url_for('static', filename='blog.jpeg')}}" alt= "Image of David Griffiths"/> 
                <h1>David C. Griffiths</h1>
                <p class = "para">
                  @davidg_wd <br/>
                  St.Thomas, Jamaica <br/>
                  Joined {{joined_date}} <br/>
                </p>
            </header>
        </div>


        <div class = "box3">
            <p>
                I'm David, an enthusiastic guy who loves web design and all things tech.
                Send me a message if you want us to work together on a project.
            </p>
        </div>

        <table class = "folltable">
          <tr>
            <th>16</th>
            <th>1081</th>
            <th>1081</th>
          </tr>
          <tr>
            <td>Posts</td>
            <td>Following</td>
            <td>Followers</td>
          </tr>
        </table>
      <div class = "btn">
        <button type="button">Follow</button>
      </div>
    </div>
    {% endblock %}